@import url("https://fonts.cdnfonts.com/css/general-sans");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f8f8f8;
  font-family: "General Sans", sans-serif;
}

.loader {
  @apply relative rounded-full w-40 h-40 text-black; /* Tailwind for sizing and color */
  transform: rotateZ(45deg);
  perspective: 1000px;
}

.loader:before,
.loader:after {
  content: "";
  @apply absolute top-0 left-0 w-full h-full rounded-full; /* Tailwind for positioning and size */
  transform: rotateX(70deg);
  animation: spin 1s linear infinite;
}

.loader:after {
  color: #ff3d00;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.6em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.6em 0.6em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.6em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.6em 0.6em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.6em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.6em -0.6em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.6em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.6em -0.6em 0 0 currentcolor;
  }
}


.range-slider-container {
  position: relative;
  height: 4px;
  background: #d1d5db; 
  border-radius: 4px;
  margin-bottom: 3rem;
}


.active-range {
  position: absolute;
  height: 4px;
  background: #801cc1;
  border-radius: 4px;
}


.range-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 4px;
  background: transparent;
  position: absolute;
  top: 0;
  z-index: 2;
  cursor: pointer;
}


.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  background: #801cc1;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}


.range-slider::-moz-range-thumb {
  width: 24px;
  height: 24px;
  background: #801cc1;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}


.range-slider::-ms-thumb {
  width: 24px;
  height: 24px;
  background: #801cc1;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
